.results {
	margin-top: 100px;
	.box-sizing( border-box );
	padding: 20px;
    background: rgba( 200, 200, 200, 0.8 );
    .border-radius( 3px );
}

.col-md-3 {
	float: none;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}

.card {
	background: @light;

	&-img-top {
		width: 100%;
		height: auto;
		object-fit: cover;
		overflow: hidden;
	}
}